<p><%= @email %></p>

<p>Welcome to Upwork Clone! Please confirm your email address by clicking the link below:</p>

<p><%= link_to 'Confirm Email', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Or copy and paste this link into your browser:</p>
<p><%= confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you didn't sign up for this account, you can ignore this email.</p>
