<p><%= @email %></p>

<p>You can reset your password by clicking the link below:</p>

<p><%= link_to 'Reset Password', password_reset_url(@resource, reset_password_token: @token) %></p>

<p>Or copy and paste this link into your browser:</p>
<p><%= password_reset_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, you can ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>
